{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
{{super()}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock%}
{% block content%}
<div class="container" style="background-color: blue;"></div>
<div class="row">
    <div class="col-md-2 col-lg-2 col-xs-1"></div>
    <div class="col-md-8 col-lg-8 col-xs-10 ">
        <ul class="list-index ">
            {% for pitch in pitches.items%}
            <li class="jumbotron "
                style="padding-left:40px ; list-style-type: none; background-color: rgb(131, 182, 135);">
                <div class="card mb-6 bg-dark text-white">
                    <div class="card-body">
                        <img src="https://media.giphy.com/media/NFA61GS9qKZ68/giphy.gif" alt=""
                            style="width:32%; float: left;">
                        <h2 class="card-title" style="color:rgba(255, 255, 255, 0.911)"> {{pitch.pitch_category}}</h2>
                        <h4><span></span><a href="{{url_for('main.posted',username=pitch.user_id.username)}}">By:
                                {{pitch.user_id.username}}</a></h4>
                        <p class="card-text" style="color:rgba(240, 48, 0, 0.911)">{{pitch.pitch}}</p>
                        <p class="card-text" style="color:rgb(10, 2, 122)">Posted On:
                            {{pitch.posted.strftime('%Y-%m-%d')}}<span></span></p>
                        <p><span></span>Likes: {{pitch.upvotes}} <span></span> Dislikes: {{pitch.downvotes}}</p>
                    </div>
                    <a href="{{url_for('main.comment',pname=pitch.id)}}"><i class="fa fa-comment"
                            style="font-size:36px;color:rgb(34, 51, 66)" aria-hidden="true"></i></a> <span><span><a
                                href="{{url_for('main.comment',pname=pitch.id)}}"><i class="fa fa-thumbs-up"
                                    style="font-size:36px;color:green" aria-hidden="true"></i>
                            </a></span> <span><a href="{{url_for('main.comment',pname=pitch.id)}}"><i
                                    class="fa fa-thumbs-down" style="font-size:36px;color:red" aria-hidden="true"></i>
                            </a></span></span>
                </div>
            </li>
            <br>
            {%endfor%}
        </ul>
    </div>
    <div class="col-md-2 col-lg-2 col-xs-1"></div>
</div>
</div>
{% endblock %}

<style>
    .jumbotron {
        background-color: greenyellow;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
</style>